<h2>Buscar en Spotify</h2>
<input type="text" [(ngModel)]="query" placeholder="Buscar..." />
<button [routerLink]="['/search']" [queryParams]="{ q: query, type: 'track', market: 'ES' }">Buscar</button>

<div class="main-content">
  <div class="now-playing">
    <img src="https://placehold.co/300x300" alt="Album Art" />
    <h2>Nombre de la canción</h2>
    <p>Artista</p>
</div>

<div *ngFor="let item of results">
  <p>{{ item.name }} - {{ item.artists[0].name }}</p>
  <img [src]="item.album.images[0]?.url" width="80">
</div>



